<nav class="navbar navbar-default navbar-fixed-bottom" style="padding :15px; background: black; border: none">
    <div class="col-xs-6 navbar-header">
        <div class="dropdown">
            <!--a href="" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../assets/img/settings.png">
            </a-->
        </div>
    </div>
    <div class="dropup"style="float:right">
        <a href="" class="navbar-link dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="./assets/img/export.png">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3" style="position: absolute; left: -80px; text-align: center; min-width: 100px;">
            <li><span class="export-excel k-icon k-i-excel" style="cursor: pointer" data-id="" data-name="" data-sheet=""></span></li>
            <li><span class="export-report-pdf k-icon k-i-pdf" style="cursor: pointer" data-id=""></span></li>
        </ul>
    </div>
</nav>