<nav class="navbar navbar-default navbar-fixed-bottom" style="padding :15px; background: black; border: none">
    <div class="col-xs-6 navbar-header">
    </div>
    <div class="dropup"style="float:right">
        <a href="" class="navbar-link dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="./assets/img/export.png">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3" style="position: absolute; left: -80px; text-align: center; min-width: 100px;">
            <li><span class="export-chart-pdf k-icon k-i-pdf" style="cursor: pointer" data-id=""></span></li>
        </ul>
    </div>
</nav>