body {
    padding-top:75px;
    width: auto;
    margin: 0 auto;
}

#vertical {
    height: 800px;
    margin: 0 auto;
}

#chart {
     height: 500px;
 }

#treeview .k-sprite {
    background-image: url("../examples/content/web/treeview/coloricons-sprite.png");
}

.rootfolder {
    background-position: 0 0;
}

.folder {
    background-position: 0 -16px;
}

.pdf {
    background-position: 0 -32px;
}

.html {
    background-position: 0 -48px;
}

.image {
    background-position: 0 -64px;
}

.gauge-container {
    background: transparent url("../examples/content/dataviz/gauge/gauge-container.png") no-repeat 50% 60%;
    background-size: 90% 100%;
     width: 100%;
    height: 100%;
    text-align: center;
    margin: 15px auto 0 auto;
}
#lgauge{
    position: relative;
    top: -24px;
}
#rgauge{
    position: relative;
    top: -20px;
}
.gauge {
   /** width: 170px;
    height: 170px;**/
    margin: 0 auto 0;
}