
<div class="animated fadeIn panel panel-default" style="height:80vh;min-height:45vh; max-height:89vh;padding:0 0 8% 0; border: none">

    <div class="panel-heading">
        <span class="pull-left"><a class="homeTpl" data-id="wbsTable" data-temp="#indexTpl" data-name="home" role="button" href="#"><img src="./assets/img/home.png"></a></span>
        <h1 class="panel-title" style="font-size: 24px; font-weight: bold; text-align: center">Project Analytics
    <span class="pull-right dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="k-icon k-i-hbars"></span></a>
    <ul class="dropdown-menu" role="menu" style="min-width: 180px; padding: 5px 2px">
        <li style="padding-bottom: 2px">
            <form>
                <select class="form-control selectpicker" tabindex="-1" style="padding: 3px 6px 3px 6px; cursor: pointer"><option value="baseline">Baseline Version</option><option value="">Baseline Version 1</option><option value="">Baseline Version 2</option></select>
            </form>
        </li>
        <li style="padding-bottom: 2px">
            <form>
                <select tabindex="-1" class="form-control selectpicker" id="eac" style="padding: 3px 6px 3px 6px; cursor: pointer"><option value="eac">EAC Version 1</option><option value="">EAC Version 2</option><option value="">EAC Version 3</option></select>
            </form>
        </li>
        <li>
            <form>
                <select tabindex="-1" class="form-control selectpicker" id="snapshot" style="padding: 3px 6px 3px 6px; cursor: pointer"><option value="snapshot">Snapshot Selection</option><option value="">Snapshot Selection</option><option value="">Snapshot Selection</option></select></select>
            </form>
        </li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Refresh</a></li>
    </ul>
    </span>
        </h1>
    </div>

    <div id="horizontal">
        <div id="vertical">
            <div id="treelist" style="height: 100%; border: 0"></div>
            <div align="center">
                <p class="gaugeHeading">gaugeHeading</p>
                <div class="gauge-loading"></div>
                <div class="col-xs-12">
                    <div class="gauge-container" style="display: inline-block">
                        <div id="lgauge" class="gauge"></div>
                        <div id="lgaugeTitle" class="gaugeTitle">SPI</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="gauge-container" style="display: inline-block">
                        <div id="rgauge" class="gauge"></div>
                        <div id="rgaugeTitle" class="gaugeTitle">CPI</div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="details-container" style="display: inline-block">
                        <div class="detailsPane">
                            <li class="list-group-item" style="padding: 5px 10px; font-size: 12px;">BAC: <span class="total-bac"></span></li>
                            <li class="list-group-item" style="padding: 5px 10px; font-size: 12px;">EAC: <span class="total-eacCum"></span></li>
                            <li class="list-group-item" style="padding: 5px 10px; font-size: 12px;">TCPIeac: <span class="total-tcpi"></span></li>
                            <li class="list-group-item" style="padding: 5px 10px; font-size: 12px;">User: <span class="user-name"></span></li>
                            <li class="list-group-item" style="padding: 5px 10px; font-size: 12px;">Project: <span class="project"></span></li>
                        </div>
                        <div class="detailsTitle">&nbsp;</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1"></div>
            </div>
        </div>
        <div>
            <div class="chart-type-chooser">
                <strong class="radio-group-label">Chart type</strong>
                <ul class="radio-group">
                    <li><input type="radio" name="seriesType" value="combo" id="seriesType-combo"><label for="seriesType-combo">Combo</label></li>
                    <li><input type="radio" name="seriesType" value="column" id="seriesType-period"><label for="seriesType-period">Bar</label></li>
                    <li><input type="radio" name="seriesType" value="line" id="seriesType-s-curve"checked><label for="seriesType-s-curve">Bullseye</label></li>
                </ul>
            </div>
            <div id="chart"></div>
            <div class="chart-loading"></div>
        </div>
    </div>
</div>