<div class="animated fadeIn panel panel-default" style="height: Calc(100vh - 196px); border: none">
    <div class="panel-heading">
        <span class="pull-left">
            <a class="homeTpl" data-id="wbsTable" data-temp="#indexTpl" data-name="home" role="button" href="#">
                <img src="./assets/img/home.png"></a>
        </span>
        <h1 class="panel-title" style="font-size: 24px; font-weight: bold; text-align: center">Schedule Variance</h1>
    </div>

    <div id="vertical">
        <div style="border: 0; padding-bottom: 10px; padding-top: 10px">
            <form class="form-inline">
                <div class="col-xs-5 input-group">
                    <select class="col-xs-6 form-control dataTypeAnalytics controller" id="dataType">
                        <!--option>Select Type</option-->
                        <option value="Quantity" data-id="scheduleVAR" data-temp="scheduleVAR" data-name="scheduleVAR">Hours</option>
                        <option value="Costs" data-id="scheduleVAR" data-temp="scheduleVAR" data-name="scheduleVAR">Cost</option>
                    </select>
                </div>
                <div class="col-xs-5 input-group">
                    <select class="col-xs-6 form-control dataTypeAnalytics costType" id="costType" style="display: none;">
                        <!--option>Select Cost</option-->
                        <option value="IntValProjCurr" data-id="scheduleVAR" data-temp="scheduleVAR" data-name="scheduleVAR">Internal Cost</option>
                        <option value="ExtValProjCurr" data-id="scheduleVAR" data-temp="scheduleVAR" data-name="scheduleVAR">External Cost</option>
                    </select>
                </div>
            </form>
        </div>
        <div>
            <div id="chart"></div>
            <div class="chart-loading"></div>
        </div>
    </div>
</div>