<div class="animated fadeIn panel panel-default" style="height: Calc(100vh - 176px); border: none">
    <div class="panel-heading">
        <span class="pull-left"><a class="homeTpl" data-id="wbsTable" data-temp="#indexTpl" data-name="home" role="button" href="#"><img src="./assets/img/home.png"></a></span>
        <h1 class="panel-title" style="font-size: 24px; font-weight: bold; text-align: center">SPA Chart
    <span class="pull-right dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="k-icon k-i-hbars"></span>
    </a>
    <ul class="dropdown-menu" role="menu" style="min-width: 180px; padding: 5px 2px">
        <li id="switchWeeklyButton" style="display:none;" data-id="spa" data-temp="spa" data-name="spa">
            <a tabindex="-1" href="#" id="switchWeekly"  data-type="W" style="cursor: pointer">Switch to Weekly</a>
        </li>
        <li id="switchMonthlyButton" data-id="spa" data-temp="spa" data-name="spa">
            <a tabindex="-1" href="#" id="switchMonthly"  data-type="M" style="cursor: pointer">Switch to Monthly</a>
        </li>
        <li style="padding-bottom: 2px">
            <form>
                <select class="form-control selectpicker" id="baseline" tabindex="-1" style="padding: 3px 6px 3px 6px; cursor: pointer">
                    <% if (combineData[2].baseline.length < 2) { %>
                    <% $.each(combineData[2].baseline,function(key,value){ %>
                    <option value="<%-value.VersionSelection%>" data-title="<%-value.VersionDescription%>" data-chartType="SPA"><%-value.VersionDescription%></option>
                    <%});
                    } else { %>
                    <% $.each(combineData[2].baseline,function(key,value){ %>
                    <option value="<%-value.VersionSelection%>" data-title="<%-value.VersionDescription%>" data-chartType="SPA"><%-value.VersionDescription%></option>
                    <%});

                    }%>
                </select>
            </form>
        </li>
        <li style="padding-bottom: 2px">
            <form>
                <select tabindex="-1" class="form-control selectpicker" id="eac" style="padding: 3px 6px 3px 6px; cursor: pointer">
                    <% if (combineData[2].eac.length < 2) { %>
                    <% $.each(combineData[2].eac,function(key,value){ %>
                    <option value="<%-value.VersionSelection%>" data-title="<%-value.VersionDescription%>" data-chartType="SPA"><%-value.VersionDescription%></option>
                    <%});
                    } else { %>
                    <% $.each(combineData[2].eac,function(key,value){ %>
                    <option value="<%-value.VersionSelection%>" data-title="<%-value.VersionDescription%>" data-chartType="SPA"><%-value.VersionDescription%></option>
                    <%});

                    }%>
                </select>
            </form>
        </li>
        <li>
            <form>
                <select tabindex="-1" class="form-control selectpicker" id="snapshot" style="padding: 3px 6px 3px 6px; cursor: pointer">
                    <% if (combineData[0].length < 2) { %>
                    <% $.each(combineData[0],function(key,value){ %>
                    <option value="<%-value.SnapshotSelection%>" data-title="<%-value.ProjectSelection%>" data-id="spa" data-temp="spa" data-name="spa" data-chartType="SPA"><%-value.formatDate%></option>
                    <%});
                    } else { %>
                    <% $.each(combineData[0],function(key,value){ %>
                    <option value="<%-value.SnapshotSelection%>" data-title="<%-value.ProjectSelection%>" data-id="spa" data-temp="spa" data-name="spa" data-chartType="SPA"><%-value.formatDate%></option>
                    <%});

                    }%>
                </select>
            </form>
        </li>
        <li class="divider"></li>
        <li><button tabindex="-1" class="btn btn-default btn-block" id="refresh">Refresh</button></li>
    </ul>
    </span>
        </h1>
    </div>

    <div id="horizontal">
        <div>
            <div style="border: 0; padding-bottom: 10px; padding-top: 10px">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon dashboardTitle">Hierarchy</div>
                        <select class="form-control" id="hChange" >
                            <% if (combineData[1].length < 2) { %>
                            <% $.each(combineData[1],function(key,value){ %>
                            <option value="<%-value.HierarchySelection%>" data-title="<%-value.HierarchyDescription%>" data-id="spa" data-temp="spa" data-name="spa" data-chartType="SPA"><%-value.HierarchyDescription%></option>
                            <%});
                            } else { %>
                            <option value="">Select Hierarchy</option>
                            <% $.each(combineData[1],function(key,value){ %>
                            <option value="<%-value.HierarchySelection%>" data-title="<%-value.HierarchyDescription%>" data-id="spa" data-temp="spa" data-name="spa" data-chartType="SPA"><%-value.HierarchyDescription%></option>
                            <%});

                            }%>
                        </select>
                    </div>
                </form>
            </div>
            <div id="treelist" style="height: 92%; border: 0"></div>
        </div>
        <div>
            <div id="vertical">
                <div style="border: 0; padding-bottom: 10px; padding-top: 10px">
                    <form class="form-inline">
                        <div class="col-xs-5 input-group">
                            <select class="col-xs-6 form-control dataTypeAnalytics controller" id="dataType">
                                <option value="Quantity" data-id="spa" data-temp="spa" data-name="spa">Hours</option>
                                <option value="Material" data-id="spa" data-temp="spa" data-name="spa">Material</option>
                                <option value="Costs" data-id="spa" data-temp="spa" data-name="spa">Total Cost</option>
                            </select>
                        </div>
                        <!--div class="col-xs-5 input-group">
                            <select class="col-xs-6 form-control dataTypeAnalytics costType" id="costType" style="display: none;">
                                <option value="IntValProjCurr" data-id="spa" data-temp="spa" data-name="spa">Internal Cost</option>
                                <option value="ExtValProjCurr" data-id="spa" data-temp="spa" data-name="spa">External Cost</option>
                            </select>
                        </div-->
                    </form>
                </div>
                <div>
                    <div id="chart"></div>
                    <div class="chart-loading"></div>
                </div>
            </div>
        </div>
    </div>
</div>