<div class="panel panel-default" style="background-color: transparent; margin-bottom: 100px; box-shadow: none; border: none">
    <div class="panel-heading" style="margin-bottom: 20px">
        <span class="pull-left">
            <a class="homeTpl" data-id="wbsTable" data-temp="home" data-name="home" role="button" href="#"><img src="./assets/img/home.png"></a>
        </span>
        <h1 class="panel-title" style="font-size: 30px; font-weight: bold;  text-align: center">SPA Chart</h1>
    </div>
</div>