<div class="panel panel-default" style="background-color: transparent; margin-bottom: 56px; box-shadow: none; border: none">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-size: 30px; font-weight: bold;  text-align: center">Analytics Dashboard</h1>
    </div>

    <div class="panel-body animated fadeIn" style="margin-left: 10px; margin-right: 10px">

        <div class="row" style="margin: 15px 0">
            <div class="col-sm-6 col-md-4">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon dashboardTitle">Project</div>
                        <select class="form-control" id="projectSets">

                            <% if (combineData[0].length < 2) { %>
                                <% $.each(combineData[0],function(key,value){ %>
                                <option value="<%-value.ProjectSelection%>"><%-value.Description%></option>
                                <%});
                            } else { %>
                                <option value="">Select Project</option>
                                <% $.each(combineData[0],function(key,value){ %>
                                <option value="<%-value.ProjectSelection%>"><%-value.Description%></option>
                                <%});
                            }%>
                        </select>
    </div>
                </form>
            </div>
        </div>
        <div class="row">

            <!--div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getAnalytics" data-id="projectAnalytics" data-temp="projectAnalytics" data-name="projectAnalytics" role="button"><h4 class="menuTitle">Project Analytics</h4><img class="menuItemImg" src="./assets/img/projectAnalytics.png"></div>
            </div-->
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getAnalytics" data-id="spa" data-temp="spa" data-name="spa" role="button"><h4 class="menuTitle">SPA Chart</h4><img class="menuItemImg" src="./assets/img/spa.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getAnalytics" data-id="spiCPI" data-temp="spiCPI" data-name="spiCPI" role="button"><h4 class="menuTitle">SPI CPI Chart</h4><img class="menuItemImg" src="./assets/img/spiCPI.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getAnalytics" data-id="scheduleVAR" data-temp="scheduleVAR" data-name="scheduleVAR" role="button"><h4 class="menuTitle">Schedule Variance</h4><img class="menuItemImg" src="./assets/img/scheduleVAR.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getAnalytics" data-id="earnedSchedule" data-temp="earnedSchedule" data-name="earnedSchedule" role="button"><h4 class="menuTitle">Earned Schedule</h4><img class="menuItemImg" src="./assets/img/earnedSchedule.png"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="wbsTable" data-temp="cpr1" data-name="CPR1_WBS" data-sheet="CPR-1" role="button"><h4 class="menuTitle">CPR1 - WBS</h4><img class="menuItemImg" src="./assets/img/wbs.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="orgCatTable" data-temp="cpr2" data-name="CPR2_OBS" data-sheet="CPR-2" role="button"><h4 class="menuTitle">CPR2 - OBS</h4><img class="menuItemImg" src="./assets/img/obs.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="baselineTable" data-temp="cpr3" data-name="CPR3_Baseline" data-sheet="CPR-3" role="button"><h4 class="menuTitle">CPR3 - Baseline</h4><img class="menuItemImg" src="./assets/img/baseline.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="staffingTable" data-temp="cpr4" data-name="CPR4_Staffing_Forecast" data-sheet="CPR-4" role="button"><h4 class="menuTitle">CPR4 - Staffing/Forecast</h4><img class="menuItemImg" src="./assets/img/staffing.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="eAndPAnalysesTable" data-temp="cpr5" data-name="CPR5_VAR" data-sheet="CPR-5" role="button"><h4 class="menuTitle">CPR5 - VAR</h4><img class="menuItemImg" src="./assets/img/var.png"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="trendTable" data-temp="cprTWBS" data-name="CPR_TrendWBS" data-sheet="CPR-TWBS" role="button"><h4 class="menuTitle">CPR Trend - WBS</h4><img class="menuItemImg" src="./assets/img/trendWBS.png"></div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 menuItemMarginBottom">
                <div class="menuItem getReport" data-id="trendTable" data-temp="cprTOBS" data-name="CPR_TrendOBS" data-sheet="CPR-TOBS" role="button"><h4 class="menuTitle">CPR Trend - OBS</h4><img class="menuItemImg" src="./assets/img/trendOBS.png"></div>
            </div>
        </div>
    </div>
</div>